@import "tailwindcss";

body {
  background-color: #093545;
}

@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 0.3s ease-in-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #093545;
}

::-webkit-scrollbar-thumb {
  background: #2BD17E;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #24B56E;
}
